@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Hubballi', cursive;
    background-color: #f1f5f9;
    font-size: 1.6rem;
}

header {
    background-color: #0ea5e9;
    padding: 1.5rem;
    border-bottom: 1rem solid #0284c7;
}

header h1 {
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    margin: 0;
} 

.two-rows {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .two-rows {
        grid-template-columns: repeat(2, 1fr);
    }
}
 
main {
    margin: 4rem auto;
    max-width: 1200px;
}  

.container {
    margin: 0 auto 2rem auto;
    border-radius: .5rem;
    background-color:#98e9e7 ;
    padding: 4rem;
    -webkit-box-shadow: 0px 10px 33px -17px rgb(18, 134, 115);
    -moz-box-shadow: 0px 10px 33px -17px rgba(18, 134, 115,100);
    box-shadow: 0px 10px 33px -17px rgba(18, 134, 115, 100);
    width: 100%;
}


.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}